[build-system]
requires = ["flit_core >=3.11,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "variant_x86_64"
authors = [{name = "Michał Górny", email = "mgorny@gentoo.org"}]
license = "MIT"
license-files = ["LICENSE"]
dynamic = ["version", "description"]
dependencies = [
    "archspec",
    "variantlib @ https://github.com/mgorny/variantlib/archive/build-setup.tar.gz",
]

[project.urls]
Home = "https://github.com/wheelnext/x86_64-plugin/"

[project.entry-points."variantlib.plugins"]
x86_64 = "variant_x86_64.plugin:Plugin"
